body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f7f6;
}

.widgets {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: #e0e0e0;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.widget {
    background-color: #0D1B2A;
    padding: 15px 25px;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    font-size: 1.1em;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    flex-grow: 1;
    margin: 0 10px;
}

.charts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 20px;
}

.charts > div {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.15);
    padding: 20px;
    text-align: center;
    width: 350px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.chartTitle {
    color: #555;
    margin-bottom: 15px;
    font-size: 1.5em;
    width: 100%;
    text-align: center; 
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 900px; 
    padding-top: 20px; 
}

#lineChart {
    width: 80%;
    max-width: 900px;
    height: 450px;
    display: block;
    margin: 40px auto;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.15);
    padding: 20px;
    box-sizing: border-box;
}


canvas {
    max-width: 100%;
    height: auto;
}