body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f6f8; 
    color: #1B263B;  
}

header {
    width: 100%;
    height: 38vh;
    background-color: #0D1B2A;  
    display: flex;
    justify-content: center;
    align-items: center;
}

#moneyMap-logo {
    text-align: center;
    width: 80%;
}

#moneyMap-logo img {
    max-height: 80%;
    width: 40%;
    display: block;
    margin: 0 auto; 
}

.contact-container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
    background-color: #ffffff; 
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #1B263B;  
}

.contact-container h1 {
    font-size: 2rem;
    color: #1B263B;  
    text-align: center;
    margin-bottom: 20px;
}

.contact-container p {
    font-size: 1rem;
    color: #1B263B;  
    text-align: center;
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    margin-bottom: 8px;
    margin-left: 220px;
    display: block;
    color: #1B263B;  
}

input[type="text"],
input[type="email"],
textarea {
    width: 40%;
    padding: 10px;
    margin-bottom: 10px;
    margin-left: 220px;
    border: 1px solid #1B263B; 
    border-radius: 4px;
    font-size: 1rem;
    color: #1B263B;  
    background-color: #f1f1f1; 
}

textarea {
    resize: vertical;
}

p[id$="Error"] {
    color: red;
    font-size: 0.875rem;
    margin-top: -10px;
    margin-bottom: 10px;
}

#captchaDisplay {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #1B263B;  
    margin-left: 220px;
}

input[type="text"]#captcha {
    width: 40%;
}

#btn-submit {
    margin-left: 250px;
}

button {
    padding: 12px 20px;
    background-color: #1B263B;  
    font-weight: bold;
    color: #f4f6f8;  
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 10px;  
}

button:hover {
    background-color: #0D1B2A;  
}