/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f6f8; /* Light background */
    margin: 0;
    padding: 0;
    color: #1B263B; /* Deep Blue */
    transition: opacity 0.5s ease;
}

header {
    background-color: #1B263B;  /* Dark Blue background */
    padding: 5px 0; /* Reduced header padding */
    display: flex;
    justify-content: center; /* Centering horizontally */
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#logo {
    max-height: 80px; /* 1.5x smaller size compared to the original height */
    width: auto;
    display: block;
    margin: 0 auto; /* Ensures centering */
}

/* Main Section */
#emailVerifyMain {
    width: 100%;
    max-width: 800px;
    margin: 50px auto;
    padding: 40px;
    background-color: #ffffff; /* White background */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Form Heading */
#verificationTitle {
    font-size: 2rem;
    color: #1B263B; /* Deep Blue */
    margin-bottom: 20px;
}

/* Form Elements */
.inputLabel {
    font-size: 1rem;
    color: #1B263B; /* Deep Blue */
    margin-bottom: 10px;
    display: block;
}

.inputField {
    padding: 10px;
    width: 80%;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 12px 20px;
    background-color: #1B263B; /* Deep Blue */
    color: #f4f6f8; /* Light color */
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 20px;
    width: 100%;
}

button:hover {
    background-color: #0D1B2A; /* Darker Deep Blue */
}

.cancelBtnLink {
    text-decoration: none;
}

.cancelBtn {
    background-color: #f4f6f8;
    color: #1B263B;
    margin-top: 10px;
}

.cancelBtn:hover {
    background-color: #ccc;
}

.resetBtn {
    background-color: #f4f6f8;
    color: #1B263B;
}

.submitBtn {
    background-color: #1B263B; /* Deep Blue */
    color: #f4f6f8;
    width: 100%;
}

.submitBtn:hover {
    background-color: #0D1B2A; /* Darker Deep Blue */
}

/* Verification Message */
.verificationMessage {
    color: #1B263B; /* Deep Blue */
    margin-top: 10px;
}

/* Email Error Link */
.emailErrorLink {
    margin-top: 20px;
    color: #1B263B; /* Deep Blue */
}

.errorLink {
    color: #4FC3F7; /* Light Blue */
}

.errorLink:hover {
    color: #003366; /* Darker Blue */
}

/* Footer Styles */
#footer {
    background-color: #1B263B; /* Deep Blue */
    color: #f4f6f8; /* Light color */
    text-align: center;
    padding: 20px 0;
    font-size: 1rem;
}

#about {
    font-style: italic;
    margin-top: 10px;
    color: #fff;
}

#about:hover {
    color: #4FC3F7; /* Light Blue */
}
