body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0px;
    background: #f4f6f8;
}

h1 {
    color: #0D1B2A;
    text-align: center;
}

#incomeBarChart {
    width: 100% !important;
    max-width: 1000px;
    height: 600px !important;
    display: block;
    margin: 0 auto;
    background-color: #ffffff;
    border: 1px solid #ccc;
    padding: 10px;
}