<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmation</title>
    <link rel="stylesheet" href="../../styles/contact/confirmation.css" type="text/css">
    <link rel="icon" href="../../../storage/logo.png" type="image/png">
</head>

<body>
    <header>
        <img id="logo" src="../../../storage/fullLogo.png" alt="MoneyMap-logo">
    </header>

    <main class="confirmation">
        <h1>Thank You!</h1>
        <p>Your message has been successfully submitted.</p>
        <img id="check-icon" src="../../../storage/check.png" alt="check-icon">
        <div>
            <button id="backToIndex">Back to Main Menu</button>
        </div>
    </main>

    <footer>
        <p>&copy; 2025 <a id="about" href="../../view/landing/about.html">MoneyMap.</a> All rights reserved.</p>
    </footer>
</body>
<script src="../../controllers/contact/confirmation.js"></script>

</html>