<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Email Verification</title>
    <link rel="icon" href="../../../storage/logo.png" type="image/x-icon" />
    <link rel="stylesheet" href="../../styles/auth/emailVerify.css">
</head>

<body>

    <header id="header">
        <img src="../../../storage/fullLogo.png" alt="MoneyMap-logo" id="logo" />
    </header>

    <main id="emailVerifyMain">
        <form action="" id="emailVerifyForm" method="post">
            <h1 id="verificationTitle">Email Verification</h1>
            <label for="verifyCode" class="inputLabel">Enter Verification Code:</label>
            <input id="verifyCode" class="inputField" type="text" name="verifyCode" placeholder="Must be 6 digits" />
            <br>

            <a href="login.html" class="cancelBtnLink"><button type="button" class="cancelBtn">Cancel</button></a>
            <button type="reset" class="resetBtn">Reset</button>
            <button type="submit" id="verifyConfirmBtn" class="submitBtn" formaction="verify.html">Confirm</button>

            <p id="verifyMSG" class="verificationMessage"></p>

            <div class="emailErrorLink">Entered wrong email? <a href="forgetPass.html" class="errorLink">Go back</a>
            </div>
        </form>
    </main>

    <footer id="footer">
        <p>&copy; 2025 <a href="../../view/landing/about.html">MoneyMap.</a> All rights reserved.</p>
    </footer>
 
    <script src="../../controllers/auth/emailVerify.js"></script>
</body>

</html>