<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Email Verification</title>
    <link rel="icon" href="../../../storage/logo.png" type="image/x-icon" />
    <link rel="stylesheet" href="../../styles/auth.css">
</head>

<body>

    <header>
        <h1>Email Verification</h1>
    </header>

    <main>
        <form action="" id="emailVerifyForm" method="post">
            <label for="verifyCode">Enter Verification Code:</label>
            <input id="verifyCode" type="text" name="verifyCode" placeholder="Must be 6 digits"/>
            <br>

            <a href="login.html"><button type="button">Cancel</button></a>
            <button type="reset">Reset</button>
            <button type="submit" id="verifyConfirmBtn" formaction="verify.html">Confirm</button>

            <p id="verifyMSG"></p>

            <div>Entered wrong email? <a href="forgetPass.html">Go back</a></div>
        </form>
        <script src="../../controllers/auth/emailVerify.js"></script>
    </main>
</body>

</html>