<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registration Form</title>
    <link rel="stylesheet" href="../../styles/auth/signup.css">
    <link rel="icon" href="../../../storage/logo.png" type="image/x-icon" />
</head>

<body>
    <header>
        <h1>Registration Form</h1>
    </header>

    <main>
        <form action="" method="post" id="signupForm">

            <label for="fname">First Name:</label>
            <input id="fname" type="text" name="fname" value="" placeholder="First Name" />
            <p id="fnameError"></p>

            <label for="lname">Last Name:</label>
            <input id="lname" type="text" name="lname" value="" placeholder="Last Name" />
            <p id="lnameError"></p>

            <label for="idType">Identification Type:</label>
            <select id="idType" name="idType" onchange="handleIDSelection()">
                <option value="" selected disabled>-- Select Identification Type --</option>
                <option value="nid">NID</option>
                <option value="passport">Passport</option>
            </select>
            <p id="idTypeError"></p>

            <div id="idInputContainer" class="hidden">
                <label id="idLabel" for="idInput"></label>
                <input id="idInput" type="text" name="idInput" placeholder="" />
                <p id="idError"></p>
            </div>
            <div id="passportExpiryContainer" class="hidden">
                <label for="passportExpiry">Passport Expiry Date:</label>
                <input id="passportExpiry" type="date" name="passportExpiry" />
                <p id="passportExpiryError"></p>
            </div>

            <label for="phone">Phone Number:</label>
            <select id="countryCode" name="countryCode">
                <option value="" selected disabled>-- Select --</option>
                <option value="+880">+880 (BD)</option>
                <option value="+65">+65 (SG)</option>
                <option value="+1">+1 (USA)</option>
                <option value="+44">+44 (UK)</option>
                <option value="+91">+91 (India)</option>
            </select> 
            <input id="phone" type="number" name="phone" value="" placeholder="Phone Number" />
            <p id="phoneError"></p>

            <label for="mail">Email:</label>
            <input id="mail" type="email" name="email" placeholder="xyz@gmail.com" />
            <p id="mailError"></p>

            <label for="password">Password:</label>
            <input id="password" type="password" name="password" placeholder="8 characters minimum" />
            <p id="passError"></p>

            <label for="confirmPassword">Confirm Password:</label>
            <input id="confirmPassword" type="password" name="confirmPassword" placeholder="8 characters minimum" />
            <p id="confirmPassError"></p>

            <fieldset>
                <legend>Gender: </legend>

                <input id="male" type="radio" name="gender" value="male" />
                <label for="male">Male</label>
                <br>
                <input id="female" type="radio" name="gender" value="female" />
                <label for="female">Female</label>
                <div id="genderError"></div>
            </fieldset>

            <label for="dob">Date of Birth:</label>
            <input id="dob" type="date" name="dob" />
            <p id="dobError"></p>

            <label for="address">Address: </label>
            <textarea id="address" name="address" rows="2" cols="20" placeholder="Enter your area"></textarea>
            <p id="addressError"></p>

            <label for="photo">Upload Your Photo:</label>
            <input id="photo" type="file" name="photo" accept="image/*" />
            <p id="photoError"></p>

            <button type="button" onclick="window.location.href='login.html'">Cancel</button>
            <button type="reset" onclick="return confirm('Are you sure you want to reset the form?')">Reset</button>
            <button id="signupSubmitBtn" type="submit">Submit</button>
        </form>
    </main>

    <script src="../../controllers/auth/signup.js"></script>
</body>

</html>