<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Name</title>
    <link rel="stylesheet" href="../../styles/profile/edit-name.css">
    <link rel="icon" href="../../../public/assets/logo.png">
</head>

<body>
    <header>
        <img id="MoneyMap-logo" src="../../../public/assets/fullLogo.png" alt="MoneyMap-logo">
    </header>

    <main>
        <h1>Edit Name</h1>
        <form id="edit-name" action="" method="post" onsubmit="return false;">
            <p><strong>Current Name: </strong> <span id="current-name"></span></p>

            <label for="name"><strong>New Name: </strong></label>
            <input type="text" id="name" name="name" class="name">
            
            <p id="errorMSG"></p>
            
            <button type="button" class="btn" id="save-btn">Save</button>
            <button type="button" class="btn" id="cancel-btn">Cancel</button>
        </form>
    </main>

    <footer>
        <p>&copy; 2025 <a id="about" href="../../views/landing/about.html">MoneyMap.</a> All rights reserved.</p>
    </footer>

    <script src="../../validation/profile/edit-name.js"></script>
    
</body>

</html>