<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile - MoneyMap</title>
    <link rel="stylesheet" href="../../styles/profile/profile.css">
    <link rel="icon" href="../../../public/assets/logo.png">
</head>

<body>
    <header>
        <img id="MoneyMap-logo" src="../../../public/assets/fullLogo.png" alt="MoneyMap-logo">
    </header>

    <main class="profile-container">
        <h1>User Profile</h1>

        <div class="profile-details">
            <div class="profile-photo">
                <img id="user-photo" src="../../../public/assets/profile.png" alt="Profile Photo">
                <button class="upload edit" id="upload">Upload</button>
            </div>

            <div class="profile-info">
                <p><strong>Full Name:</strong> <span id="full-name"></span></p>
                <button class="edit" id="edit-Name">Edit</button>

                <p><strong>Identification Type:</strong> <span id="id-type"></span></p>
                <p><strong>NID/Passport Number:</strong> <span id="nid-passport"></span></p>
                <button class="edit" id="identity-edit">Edit</button>

                <p><strong>Email:</strong> <span id="email"></span></p>
                <button class="edit" id="mail-edit">Edit</button>

                <p><strong>Phone Number:</strong> <span id="phone"></span></p>
                <button class="edit" id="phone-edit">Edit</button>

                <p><strong>Address:</strong> <span id="address"></span></p>
                <button class="edit" id="address-edit">Edit</button>

                <p><strong>Linked Accounts:</strong> <span id="linked-acc"></span></p>
                <button class="edit" id="linked-acc-edit">Manage</button>
            </div>
        </div>
        </div>
        <div class="delete-acc">
            <button id="delete-acc">Delete Account</button>
        </div>
    </main>

    <footer>
        <p>&copy; 2025 <a id="about" href="../../views/landing/about.html">MoneyMap.</a> All rights reserved.</p>
    </footer>

    <script src="../../validation/profile/profile.js"></script>
</body>
</html>